.nav-logo {
  position: relative;
  padding-left: 24px;
  width: 150px;
  font-size: 44px;

  font-family: "Montserrat", sans-serif;
}
.logo2 {
  font-weight: 700;
}
.nav-Container {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.logo-rot {
  position: absolute;
  left: -12px;
  font-size: 20px;
  rotate: -90deg;
  line-height: 50px;
}
.navi {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 80px;
  align-items: center;
  width: 70%;
  font-size: 18px;
  /* border-bottom: 2px solid #afa9a956; */
}
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000;
}
.navi > a {
  text-decoration: none;
  color: #27374d;
  font-weight: bold;
  /* font-size: 30px; */
}
.navi > a::after {
  margin-top: 10px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #000307;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.navi > a:hover::after {
  transform: scaleX(1);
}
